@import url('https://fonts.googleapis.com/css?family=Catamaran|Yrsa');

body {
  background: url(../img/header-bg.jpg) center top repeat;
  font-family: "Yrsa";
  font-weight: 300px;
  font-size: 16px;
  color: #8A3324;
  background-size: 100%;
  background-attachment:fixed;


  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;

  margin-top: 70px;
}


h1 {
  font-family: "Yrsa";
  font-weith: 500;
  color: #8A3324;
  font-size: 72px;
}

h2 {
  font-family: "Yrsa";
  color: #8A3324;
  font-size: 56px;
}

p {
  line-height: 28px;
  margin-bottom: 25px;
}

.centered {
  text-align: center;
}

a {
  color: #8A3324;
}

a:hover, a:focus {
  color: #8A3324;
  text-decoration: none;
  outline: 0;
}

hr {
  display: block;
  height: 2px;
  border: 0;
  border-top: 2px solid #755A57;
  margin: 1em 0;
  padding: 0;
}

.navbar {
  font-weight: 900px;
  font-size: 18px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.navbar-inverse {
  background: ##560319;
  border-color: ##560319;
}

.navbar-inverse .navbar-nav > .active > a {
  background-color:#986960;
}

.navbar-inverse .navbar-brand {
  color: #F5DEB3;
  font-weight: bolder;
  font-size: 32px;
  letter-spacing: 1px;
}

.fig {
 text-align: center;
}
.fig img {
  margin: 0 0 0 -2.5%;
  position: relative;
}
